* {
    box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
    margin: 0;
    padding: 0;
}

input, textarea {
    outline: none;
}


/********************************************
共通
*********************************************/
body {
    color: #2c3e50;
}

header {
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: #2c3e50;
}

.header-container {
    height: 50px;
    width: 100%;
    line-height: 50px;
    display: flex;
    text-align: center;
    background-color: #2c3e50;
    justify-content: end;
}

.app-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
}

.page-title {
    padding: 50px 0;
    text-align: center;
}


.header-info {
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
}

.header-button {
    display: block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
    text-align: center;
    color: #2c3e50;
    font-size: 16px;
    font-weight: bold;
    background-color: #FFFFFF;
}

.logout-button {
    display: block;
    width: 100px;
    height: 35px;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    margin-right:10px;
    text-align: center;
    color: #2c3e50;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #FFFFFF;
}

.user-name {
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
}



/********************************************
新規作成画面
*********************************************/
.form {
    width: 500px;
    padding: 30px 20px;
    margin: 0 auto 50px;
    border: 1px solid #e3e7e8;
    border-radius: 3px;
}

.column-title {
    margin-bottom: 6px;
    font-size: 20px;
}

input,textarea {
    padding: 5px;
}

input:focus {
    border: 2px solid #222222;
    border-radius: 3px;
}

textarea:focus {
    border: 2px solid #222222;
    border-radius: 3px;
}

.form input, .form select {
    height: 46px;
    width: 100%;
    margin-bottom: 30px;
}

.form textarea {
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
}

.form_importance input {
    margin-bottom: 50px;
}

.form button {
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #2c3e50;
    color: #FFFFFF;
    font-size: 16px;
}

/********************************************
一覧画面
*********************************************/
.create-link {
    width: 100%;
    padding: 0 60px 40px;
    display: flex;
    justify-content: flex-end;
}

.create-link a {
    display: block;
    width: 100px;
    height: 40px;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: #2c3e50;
    font-size: 18px;
    font-weight: bold;
}

.issue-table {
    margin: 0 auto;
    border-collapse:  collapse;
}

.issue-table th,td {
    height: 45px;
    padding: 5px;
    border: solid 1px #2c3e50;
}

.issue-table th {
    background-color: #2c3e50;
    color: #FFFFFF;
}

.issue-table th:nth-child(3) {
    width: 600px;
    　overflow-wrap: break-word;
}

/********************************************
イシュー詳細画面
*********************************************/
.button {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.update-button {
    display: block;
    width: 100px;
    height: 40px;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    text-decoration: none;
    text-align: center;
    color: #2c3e50;
    font-size: 18px;
    font-weight: bold;
}

.delete-button {
    display: block;
    width: 100px;
    height: 40px;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    padding: 5px;
    margin-left:10px;
    text-align: center;
    color: #2c3e50;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: #FFFFFF;
}


/********************************************
error画面
*********************************************/
.error {
    text-align: center;
}