<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <title>イシュー詳細</title>
</head>
<body>

<header>
  <a th:href="@{/}">IssueApp</a>
</header>

<div class="page-title">
  <h1>イシュー詳細</h1>
</div>

<div class="form">
  <form action="#" th:action="@{/issues/{issueId}/update(issueId=${issue.getId()})}" th:method="post" th:object="${issue}">
    <div class="form_title">
      <h2>タイトル</h2>
      <input type="text" id="title" th:field="*{title}">
    </div>
    <div class="form_content">
      <h2>内容</h2>
      <textarea id="content" th:field="*{content}"></textarea>
    </div>

    <div class="form_period">
      <h2>期限</h2>
      <input type="date" id="period" th:field="*{period}">
    </div>

    <div class="form_importance">
      <h2>重要度</h2>
      <select id="importance" th:field="*{importance}" required="required">
        <option value="">選択してください</option>
        <option value="低" th:selected="'低' == *{importance}">低</option>
        <option value="中" th:selected="'中' == *{importance}">中</option>
        <option value="高" th:selected="'高' == *{importance}">高</option>
      </select>
    </div>


    <div class="form_submit">
      <button type="submit">更新</button>
    </div>
  </form>
</div>

</body>
</html>