<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>イシュー新規作成</title>
</head>
<body>

<header>
    <a th:href="@{/}">IssueApp</a>
</header>

<div class="page-title">
    <h1>イシュー新規作成フォーム</h1>
</div>

<div class="form">
    <form th:action="@{/issues}" th:method="post" th:object="${issueForm}">
        <div class="form_title">
            <h2 class="column-title">タイトル</h2>
            <input type="text" id="title" th:field="*{title}">
        </div>
        <div class="form_content">
            <h2 class="column-title">内容</h2>
            <textarea id="content" th:field="*{content}"></textarea>
        </div>

        <div class="form_period">
            <h2 class="column-title">期限</h2>
            <input type="date" id="period" th:field="*{period}">
        </div>

        <div class="form_importance">
            <h2 class="column-title">重要度</h2>
            <select id="importance" th:field="*{importance}" required="required">
                <option value="">選択してください</option>
                <option value="低">低</option>
                <option value="中">中</option>
                <option value="高">高</option>
            </select>
        </div>

        <div class="form_submit">
            <button type="submit">作成</button>
        </div>
    </form>
</div>
</body>
</html>